CompileFlags:
    Add: [-Iinclude]
    CompilationDatabasePath: build

Diagnostics:
    ClangTidy:
        Path: .clang-tidy
        HeaderFilterRegex: 'src/.*', 'include/.*'
    ClangFormatStyle:
        Path: .clang-format

Index:
    FilesExclude:
        - build/
    
Completion:
    AllScopes: true
